/*  your css code here. If applicable */
/* Common table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
}

/* Table 1 styling */
.table-1 th {
  text-align: center;
}

.table-1 td.center {
  text-align: center;
}

.table-1 td.right {
}

/* Table 3 styling */
.table-3 img.center{
	text-align:center;
}

.table-3 tr:first-child td {
  background-color: green;
  height: 20px;
	
}

.table-3 tr:last-child td {
  background-color: blue;
  height: 20px;
}

.table-3 img {
  display: block;
  max-width: 100%;
  height: auto;
}
